@import "../../../css-config/mixins.scss";

.product-card {
    cursor: pointer;
    width: calc(50% - 5px);
    margin-bottom: 20px;
    @include md {
        width: calc(25% - 15px);
    }
    .thumbnail {
        width: 100%;
        height: 270px;
        // background-color: rgba(0, 0, 0, 0.05);
        // background-color:#C8C85E;
        background: linear-gradient(to left, #ececec ,#ececec);
        margin-bottom: 10px;
        padding: 16px;
        display: flex;
        border: 0.1px solid black;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        align-items: center;
        border-radius: 10px;
        @include md {
            height: 60vh;
        }
        img {
            transition: all ease 0.3s;
            display: block;
            width: 100%;
            border-radius: 20px;
        }
    }
    .prod-details {
        .name {
            font-size: 20px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include md {
                font-size: 20px;
                margin-bottom: 10px;
                font-family: "Montserrat",sans-serif;
            }
        }
        .price {
            font-size: 18px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            @include md {
                font-size: 20px;
            }
        }
    }
    &:hover {
        .thumbnail {
            img {
                transform: scale(1.05);
            }
        }
    }
}