@import "../../../css-config/mixins.scss";

.product-card {
    cursor: pointer;

   width: calc(50% - 5px);
    place-items: center stretch;
    border: 0.1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to left, #ececec ,#ececec);
    @include md {
        width: calc(25% - 15px);
       
    }
    .flexb{
        display:flex;
        flex-wrap: wrap;
      
        align-items: center;
    }
        .thumbnail {
            width: 100%;
            height: auto;
            // background-color: rgba(0, 0, 0, 0.05);
            // background-color:#C8C85E;
            background: linear-gradient(to left, #ececec ,#ececec);
            margin-bottom: 10px;
            padding: 16px;
            display: flex;
        
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            align-items: center;
            border-radius: 10px;
            // border-bottom: 5px outset #8e2de2;
        
            @include md {
                height: 60vh;
            
            }
        
            img {
                transition: all ease 0.3s;
                display: block;
                width: 90%;
                height:auto;
                border-radius: 20px;
            }
        }
    .prod-details {
        display: flex;
        flex-direction: column;
        
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .name {
            font-size: 20px;
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include md {
                font-size: 20px;
                margin-bottom: 10px;
                font-family: "Montserrat",sans-serif;
            }
        }
        .priceh{
            height:30px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .price {
         
            font-size: 18px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            justify-content: center;
            
            @include md {
                font-size: 20px;
                align-items: center;
            }
        }
    }
    &:hover {
        .thumbnail {
            img {
                transform: scale(1.05);
            }
            border-bottom: 5px outset #8e2de2; ;
        }
    }
}