@import "../../../css-config/mixins.scss";

.hero-banner {
    padding: 40px 0;
    position: relative;
    background-image:url("../../../assets/header.jpg") ;
    background-size: 100%;

    background-repeat: no-repeat;

    @include md {
       
        background-size: 100%;
  width: auto;
  height: 100%;
  background-repeat: no-repeat;
    }
    .content {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        max-width: calc(100% - 20px);
        margin: 0 auto;
        position: relative;
        @include md {
            flex-direction: row;
            max-width: 1200px;
        }
        .banner-img {
            position: relative;
            z-index: 9;
            width: 200px;
            margin-bottom: 20px;
            @include md {
                width: 40vw;
                margin-right: 60px;
                margin-top: 50px;
                margin-bottom: 0;
                bottom: 0px;
            }
            @include xxl {
                width: 600px;
                margin-right: 0;
                margin-top: 0;
            }
        }
        .text-content {
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include md {
                position: absolute;
                left: 50px;
                top: 50%;
                transform: translateY(-50%);
            }
            @include xxl {
                left: 0;
            }
            h1 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1;
                color: white;
                margin-bottom: 20px;
                @include md {
                    font-size: 5rem;
                }
            }
            p {
                max-width: 300px;
                font-size: 1rem;
                line-height: 20px;
                margin-bottom: 20px;
                font-family:'Times New Roman', Times, serif;
                @include md {
                    max-width: 500px;
                    font-size: 2rem;
                    line-height: 30px;
                    margin-bottom: 40px;
                }
            }
            .ctas {
                display: flex;
                justify-content: center;
                gap: 20px;
                border-radius: 25px;
                .banner-cta {
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 500;
                    width: fit-content;
                    border: 2px solid white ;
                    border-radius: 25px;

                    padding: 10px 20px;
                    transition: all ease 0.3s;
                    cursor: pointer;
                    &.v2 {
                        background-color: white;
                        color: black;
                        border-radius: 25px;
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}


.white{
    text-decoration: none;
}
a{color: white;
    text-decoration: none;}