@import "../../../css-config/mixins.scss";
.shop-by-category {
    margin: 25px 0;
    @include md {
        // margin: 50px 0;
    }
    .categories {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        .category {
            background-color: #61289b;
            width: calc(50% - 5px);
            cursor: pointer;
            overflow: hidden;
            box-shadow: 0 16px 32px rgba(0, 0, 0, 0.4);
            color: white;
            border-radius: 10px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            @include md {
                width: calc(25% - 10px);
            }
            img {
                width: 90%;
                // height: auto;
                display: block;
                transition: all ease 0.3s;
            }
            &:hover {
                img {
                    transform: scale(0.9);
                }
            }
        }
    }
}
